body {
    background: rgb(15, 7, 0);
    color: aliceblue;
    font-family: Helvetica;
    margin: 0%;
    padding: 0%;
  }

  header {
    color: rgb(255, 255, 255);
    background: rgb(107, 139, 118);
    padding: 20px;
    margin: 0%;
    text-align: center;
  }

  section {
    color: rgb(255, 255, 255);
    background-color: rgb(85, 48, 48);
    padding: 20px;
    display: flex;
    flex-direction: row;
  }

  div {
    background-color: rgb(107, 139, 118);
   
    display: block;
    margin: 100px;
    width: 250px;
    height: 20px;
    padding: 50px;
    text-align: center;
  
    
  }

  nav{
    margin: 0%;
    padding: 0%;
  }
  
 
 
  ul {
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    margin-right:10px;
  }

  li {
    display: inline-block;
    margin-right: 10px;
  }

  footer {
    color: aliceblue;
    background-color: rgb(107, 139, 118);
    padding: 30px;
  }